@import url('https://fonts.googleapis.com/css?family=Hind|Roboto|Oldenburg');

/* 
CSS RULES:
box-shadow: 2px 2px 2px black;
headings font: 'Hind', sans-serif
paragraph font: 'Roboto', sans-serif
external fonts: 
    'BigCaslon', 
    'OldNewspaperTypes',
    'Windy Wood Demo' 
main colors: [ 
    Green : #908d34, 
    Blue : #00698F, 
    Red : #B3292E, 
    Dark Fig Red : #551313, 
    Bright Green : #8DC63F
    ]
main container max-width: 1024px
Media queries:
Landscape phone to portrait tablet 
@media (max-width: 767px) { ),
Landscape phones and down
@media (max-width: 480px) { },
Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) { }
header/footer width: full
*/

/* GLOBAL */
h1,
h2,
h3 {
    font-family: 'Hind', sans-serif;
}

body {
    font-family: 'Oldenburg', cursive;
}

li {
    font-size: 16px;
}

#home-wp {
    background: url('../images/wallpaper/green-background-layer.jpg');
}

#contact-wp {
    background: url('../images/wallpaper/woodwplg.jpg');
}

/* CUSTOM CLASSES */
.farm-red {
    color: #B3292E;
}

.farm-grn-bg {
    background-color: #908d34;
}

.farm-blue-bg {
    background-color: #00698F;
}

.farm-red-bg {
    background-color: #B3292E;
}

.farm-fig-red-bg {
    background-color: #551313;
}

.farm-bright-grn-bg {
    background-color: #8DC63F;
}

.transp-grey {
    background-color: rgba(255, 255, 255, 0.897);
}

.action-alert h5 {
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

/* WRAPPER  */
/* #content {
    min-height: 100%;
    position: relative;
} */

/* NAV */
.navbar-brand img {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}

/* MODAL */

/* ////////////////////////////////////////
///////////    HOME PAGE    ////////////// */

/* JUMBOTRON HEADER */
/* .jumbotron {} */

/* CONTENT */
/* HOW IT WORKS */
.how-it-works {
    background: url('../images/wallpaper/ft-wp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding-bottom: 60px;
    border: 1px solid black;
    margin-bottom: 80px;
    box-shadow: 2px 2px 5px black;
}

.how-it-works img {
    margin: 0 auto;
    box-shadow: 2px 2px 5px black;
}

.how-it-works aside {
    box-shadow: 2px 2px 5px black;
}

.how-it-works .card-header {
    color: #fff;
}

.arrow img {
    box-shadow: 0 0 0;
    padding: 20px 5px;
    margin-top: 60px;
}

/* LOCATION */
.map iframe {
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

#location {
    background: url('../images/wallpaper/almond-dates-wp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 120px;
    padding: 30px;
}

#location-header {
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px black;
}


/* ////////////////////////////////////////
///////////    CONTACT PAGE    ////////////// */
#contact-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

#contact-panel {
    background: rgba(255, 255, 255, 0.959);
    border: 1px solid black;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    margin-bottom: 150px;
}

#contact-sign {
    margin: 0 auto;
}

.hidden-field {
    display: none;
}

.error-msg {
    background: rgb(194, 88, 55);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

.success-msg {
    background: #8DC63F;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

/* ////////////////////////////////////////
///////////    MENU PAGE    ////////////// */
#menu-item-card {
    width: 20rem;
    margin-top: 15px;
    background: rgb(255, 255, 255);
}

#menu-item-card li {
    font-size: .90em;
}

#nav-packages .card {
    width: 25%;
}

.card-title a {
    color: rgb(248, 248, 248);
    background: #00698F;
    padding: 6px;
    border-radius: 10px;
}

.card-title a:hover {
    text-decoration: none;
}

#menu-items-list h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.menu-nav nav {
    background: rgba(255, 255, 255, 0.582);
}

#menu-item-card .card-subtitle {
    color: black;
}

.package-description p {
    line-height: .30em;
}

/* ////////////////////////////////////////
///////////    CART PAGE    ////////////// */
.order-wrapper {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    border: 1px solid black;
    margin-top: 80px;
    padding: 20px;
}

.order-row {
    padding: 20px 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.616);
}

/* Landscape phones and down */
@media (max-width: 480px) {

    /* Styles */
    #start-btn {
        font-size: .75em;
    }

    #banner-btn a {
        font-size: .75em;
    }

    .how-it-works {
        width: 100%;
        margin-top: 50px;
        border-radius: 0;
    }

    #how-it-works-header {
        width: 85%;
    }

    #how-it-works-transfer {
        margin-top: 0;
        display: none;
    }

    .how-it-works aside {
        margin: 0 auto;
        margin-top: 20px;
    }

    #location {
        border-radius: 0;
    }

    .map iframe {
        width: 100%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #how-it-works-transfer {
        display: none;
    }

    .how-it-works {
        width: 100%;
    }

    .how-it-works aside {
        margin: 0 auto;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #how-it-works-transfer {
        display: none;
    }
}

/* FOOTER */
footer {
    width: 100%;
    height: 30px;
    display: none;
}