@import url('https://fonts.googleapis.com/css?family=Hind|Roboto|Oldenburg');

/* 
CSS RULES:
box-shadow: 2px 2px 2px black;
headings font: 'Hind', sans-serif
paragraph font: 'Roboto', sans-serif
external fonts: 
    'BigCaslon', 
    'OldNewspaperTypes',
    'Windy Wood Demo' 
main colors: [ 
    Green : #908d34, 
    Blue : #00698F, 
    Red : #B3292E, 
    Dark Fig Red : #551313, 
    Bright Green : #8DC63F
    ]
main container max-width: 1024px
Media queries:
Landscape phone to portrait tablet 
@media (max-width: 767px) { ),
Landscape phones and down
@media (max-width: 480px) { },
Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) { }
header/footer width: full
*/

/* GLOBAL */
h1,
h2,
h3,
p,
body {
    font-family: 'Oldenburg', cursive;
}

body {
    position: relative;
    margin: 0;
    /* padding-bottom: 6rem; */
    min-height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

li {
    font-size: 16px;
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

/* WRAPPER  */
#content {
    height: 100%;
}

/* CUSTOM CLASSES */
.display-none {
    display: none;
}

#default-wp {
    background: url('../images/wallpaper/blue-fig-bg.jpg');
    background-color: #00698F;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.farm-red {
    color: #B3292E;
}

.farm-grn-bg {
    background-color: #908d34;
}

.farm-blue-bg {
    background-color: #00698F;
}

.black-link {
    color: black !important;
    text-shadow: none;
    font-weight: bold;
}

.farm-red-bg {
    background-color: #B3292E;
}

.farm-fig-red-bg {
    background-color: #551313;
}

.farm-bright-grn-bg {
    background-color: #8DC63F;
}

.white-bg {
    background: rgb(255, 255, 255);
}

/* Gradient style for the front page banner */
.gradient-vertical {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(149, 192, 208, 1) 44%, rgba(82, 153, 179, 0.7) 69%, rgba(0, 105, 143, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(149, 192, 208, 1) 44%, rgba(82, 153, 179, 0.7) 69%, rgba(0, 105, 143, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(149, 192, 208, 1) 44%, rgba(82, 153, 179, 0.7) 69%, rgba(0, 105, 143, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#0000698f', GradientType=0);
    /* IE6-9 */
}

/* NAV */
.navbar-brand img {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}

.nav-item a {
    text-shadow: 1px 1px 5px gray;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.order-icon a:hover,
.order-icon a:active,
.order-icon a:focus,
.order-icon a:visited {
    color: white;
    text-decoration: none;
}

.order-icon i {
    font-size: 2.8em;
    color: black;
    margin-right: 10px;
}

#comparison-count {
    position: relative;
    text-shadow: 1px 1px 2px black;
    top: 4px;
    left: 20px;
    z-index: 1;
    font-size: 1.2em;
    border-radius: 50%;
}

/* EMPTY CART MODAL BUTTONS */
#dismiss-btn,
#menu-btn {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
}

/* ////////////////////////////////////////
///////////    HOME PAGE    ////////////// */

/* CONTENT */
/* HOW IT WORKS */
.front-page-container {
    padding-bottom: 50px;
}

#startOrderBtn,
#cateringMenuBtn {
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

.front-page-main-content {
    margin-top: 50px;
}

/* THANK YOU MODAL */
.thanks-btn button {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
}

/* CARDS FRONT PAGE */
.front-cards {
    border: 1px solid white;
    box-shadow: 3px 3px 5px black;
}

.front-card-header {
    font-size: 1.5em;
    text-shadow: 2px 2px 5px black;
}

.front-cards ul {
    list-style-type: none;
    margin-left: -15px;
}

.front-cards li {
    border-bottom: 1px solid black;
    padding: 15px 0;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px black;
}

.front-cards li a {
    color: white;
}

#front-card-text {
    font-size: 1.2em;
    text-shadow: 2px 2px 5px black;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#front-card-text2 {
    font-size: 1.4em;
    color: black;
    background: url('../images/wallpaper/wood.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    line-height: 2em;
}

#front-card-text2 a,
#front-card-text2 a:hover,
#front-card-text2 a:visited,
#front-card-text2 a:focus,
#front-card-text2 a:active {
    color: #00698F;
    text-decoration: none;
    font-size: .85em;
}

/* CAROUSEL */
.carousel {
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* LOCATION */
.map iframe {
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

#location {
    background: white;
    padding: 30px;
    padding-bottom: 100px;
}

.location-header {
    color: black;
    text-shadow: 2px 2px 5px #808080;
}

.address-info p {
    font-size: 1.3em;
    line-height: 2em;
}

/* ////////////////////////////////////////
///////////    CONTACT PAGE    ////////////// */
#contact-panel {
    background: rgba(255, 255, 255, 0.959);
    border: 1px solid black;
    padding: 20px 0;
    margin-top: 30px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    margin-bottom: 150px;
}

#contact-form {
    padding: 30px 0;
}

#contact-sign {
    margin: 0 auto;
}

.hidden-field {
    display: none;
}

.default-msg-contact {
    margin: 0 auto;
    background: #8DC63F;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 1.5em;
}

.submit-contact-btn input {
    box-shadow: 2px 2px 5px black;
}

.error-msg-contact {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 1.5em;
}

/* ////////////////////////////////////////
///////////    MENU PAGE    ////////////// */
/* WRAPPER */
#menu-page {
    height: 100%;
    margin-bottom: 100px;
}

/* MENU NAV */
#nav-tab {
    background: white;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

#nav-tab a {
    color: black;
}

.menu-nav a {
    text-shadow: 2px 2px 2px #808080;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 9px;
}

.menu-nav a:hover {
    text-decoration: none;
}

/* FILTER */
.form-container {
    margin-bottom: 10px;
}

.form-container input {
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 5px;
}

.form-container select {
    margin-left: 10px;
}

.form-container label {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
}

#filter {
    padding: 10px;
}

/* MENU CARDS + CONTENT */
.menu-card-wrapper {
    padding: 20px 0;
}

.section-header img {
    margin: 0 auto;
}

#menu-items-list h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#menu-item-card {
    width: 20rem;
    margin-top: 15px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
}

#menu-item-card li {
    font-size: .90em;
}

#nav-packages .card {
    width: 30rem;
}

#menu-item-card .card-subtitle {
    color: black;
}

.package-description p {
    line-height: .30em;
}

/* ////////////////////////////////////////
///////////    CART PAGE    ////////////// */
#order-wrapper {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;
    background: rgb(255, 255, 255);
    margin-bottom: 130px;
}

#order-banner {
    background: white;
    border-bottom: 1px solid black;
}

#order-banner img {
    margin: 0 auto;
}

.price-each {
    padding: 10px 0;
}

.order-qty {
    width: 100px;
}

.order-row {
    padding: 20px 0 0 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.616);
}

.update-quantity-form {
    width: 150px;
    float: left;
    margin: 0 10px 0 0;
}

.totaled-order button {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
}

.totaled-order a {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
}

.cancel-delete-btn {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
}

.delete-item-btn {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
    color: white;
}

/* ////////////////////////////////////////
///////////    CHECKOUT PAGE    ////////////// */
/* WRAPPER */
#submit-order {
    margin-bottom: 120px;
}

/* PICKUP DATE AND TIME DISPLAY */
.pickup-info-container {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    background: #908d34;
}

.select-date-time-container {
    padding: 10px;
}

.select-date-time-container button {
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

/* SEND ORDER HEADER  */
#send-order-header {
    background: white;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

/* ORDER SUMMARY STYLING */
#table-header {
    padding: 10px 0;
    text-align: center;
}

#order-half table {
    border: 3px solid black;
    background: white;
}

#order-half td {
    padding: 15px 0;
}

#order-half th {
    background: rgb(0, 0, 0);
    color: white;
}

.totals-numbers {
    font-weight: bold;
    margin-left: 20px;
}

/* FORM STYLING */
#form-half {
    background: white;
    padding: 40px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.checkout-form legend {
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

#submit-order-btn {
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
}

i {
    text-shadow: 2px 2px 3px grey;
}

.final-date-time-fields {
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 10px;
    background: url('../images/wallpaper/wood.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.final-date-time-fields input {
    border: 1px solid black;
}

.final-date-time-fields select {
    border: 1px solid black;
}

.final-date-time-fields i {
    color: black;
}

/* ////////////////////////////////////////
///////////   START ORDER MODAL    ////////////// */
#modalStartOrder input {
    border: 0;
    border-bottom: 1px solid black;
}

#popover-notice {
    font-size: .75em;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
}

.fa-user,
.fa-calendar,
.fa-envelope,
.fa-clock,
.fa-phone {
    color: #00698F;
}

.pickup-times {
    line-height: 1.1em;
    font-size: .80em;
    margin: 0 auto;
    background: #908d34;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    border-radius: 8px;
}

#start-btn {
    box-shadow: 2px 2px 3px black;
    border: 1px solid white;
}

/* Landscape phones and down */
@media (max-width: 480px) {

    /* Styles */
    #start-btn {
        font-size: .75em;
    }

    #banner-btn a {
        font-size: .75em;
    }

    #location {
        border-radius: 0;
    }

    .map iframe {
        width: 100%;
    }

    .form-container label {
        color: white;
        text-shadow: 2px 2px 2px black;
        font-size: 1em;
    }

    .update-quantity-form {
        margin: 0 auto;
    }

    .item-name {
        text-align: center;
    }

    /* FOOTER */
    footer {
        text-align: left;
        font-size: .90em;
    }

    /* map */
    #location iframe {
        margin-bottom: 20px;
    }

    /* Address info */
    .address-info p {
        text-align: center;
        line-height: 1.2em;
        font-size: 1em;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* FOOTER */
footer {
    position: absolute;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgb(27, 27, 27);
    text-align: center;
}

.copyright {
    padding-top: 10px;
}

.social-icons {
    padding-top: 10px;
}