# Don't track these folders
jquery/
html/
test/

# Don't track these files
*.html
inc/connect.php
inc/mail_info.php
/vendor/
inc/phpmailer
composer.json
composer.lock
favicon.ico
inc/submit.php
alt/
inc/login.php
data/
classes/cart_item.php
js/moment.min.js
css/playing.css